.chord{
    margin: 2rem;
    padding: 3px;
    border-style: solid;
    border-color: aqua;
}

.sequence{
    margin: 2rem;
    padding: 3px;
    border-style: solid;
    border-color: blueviolet;
}

.step{
    margin: 2px;
    padding: 3px;
    border-style: solid;
    border-color: aqua;
}

#main-title{
    font-size: 50;
    margin-left: 20px;
}

#comp{
    margin-left: 40px;
    margin-right: 40px;
}